.skills {
    &-containers {
      width: 100%;
    }
    display: grid;
    width: 100%;
    gap: 10px;
    max-width: var(--size-div);

    &-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    }

    &-title, &-label {
        color: var(--clr-gray2);
    }
    &-title {
        font-size: 1.8rem;
        margin-bottom: 1.7rem;
    }
    &-label {
        text-transform: capitalize;
    }
  
    progress[value] {
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--clr-gray4);
        width: 200px;
        height: 10px;
        border-radius: 12px;
        overflow: hidden;
        outline: none;
        border:none;
    }
}


progress::-moz-progress-bar, 
progress::-webkit-progress-bar
 {
    background: red;
  }

  ::-webkit-progress-bar {
    background-color: var(--clr-gray4);
  }

  progress[value]::-webkit-progress-bar {
    background-color: "green";
  }