* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1.2rem;
    background: var(--clr-bg);
}

img {
    width: 100%;
}

#root {
    min-height: 100vh;
    max-width: 1046px;
    margin: 0 auto;
}

// Root Container 
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: grid;
    justify-items: center;
    gap: 25px;
}

// Global Classes
.global-pd {
    padding: 2.1rem;
    border-radius: 12px;
    background: #FFF;
}

.material-icons {
    display: inline-block;
}